	@font-face {
	    font-family: 'Grind Zero';
	    src: url('fonts/Grind Zero.ttf') format('truetype'), url('fonts/Grind Zero.svg') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	@import 'https://fonts.googleapis.com/css?family=Fjalla+One|Francois+One';