html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit; 
  margin: 0;
  padding: 0;
}
}

ul{
	margin:0 0 0 0;
}

h2 {
	font-family: 'Grind Zero'
}

h3 {
	font-family: 'Grind Zero';
	text-align: center;
	font-size: 45px;
	margin-top: 5px;
}
@font-face {
    font-family: 'Grind Zero';
    src: url('fonts/Grind Zero.ttf') format('truetype'), url('fonts/Grind Zero.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

#home {
font-size:87.5%;
font-family: 'Gudea', sans-serif;
background:white;
overflow: hidden;
}

header {

width:100%;
height: 150px;
margin: 0 auto;
}

#logo  {
margin-top: 25px;
float:left;
}

#logo img {
	width:120px; 
	height:auto;
}

#logo h3 {
	position:relative;
	float:right;
	top:17px;
	margin-left: 10px;
	font-family: 'Grind Zero'
}


/*nav{
top:50px;
width:55%;
float:right;
position:relative;
display: inline-block;
}


nav a{
margin-right: 18px;
float:right;
font-size:16px;
font-weight:bold;
line-height:20px;
list-style:none;
text-decoration: none;
color:#ff9626;
padding: 10px 10px;
}


nav a:first-child {
margin-right: 0;
}

nav a:hover{
	color:white;
	text-decoration: none;
	background-color: #ff9626;
}

.navselected {
color:white !important; 
text-decoration:none;
background-color: #ff9626;
}*/

.content{
position: relative;
width:100%;
height:100%;
margin:40px auto 0 auto;
background:white;
overflow:hidden;
max-width:1292px;
}

.rowmargin{
	margin-top:30px;
}

#logo span {
color:#ff9626;

}

.image1{
	background:url('../images/knickcover2.png');
	background-size: cover;
	background-position:center;
	border: 1px solid black;
	border-bottom:0;
}
.image2{
	background:url('../images/kcocover.png');
	background-size: cover;
	background-position:center;
	border: 1px solid black;
	border-bottom:0;
}
.image3 {
	background:url('../images/british2.png');
	background-size:cover;
	background-position:center;
	border: 1px solid black;
	border-bottom:0;

}

.layer{
	position:relative;
	height:266px;
	background-color: black;
	opacity:0;
	transition: .3s opacity ease-in-out;
	color:white;
}	

.layer p {
	position:absolute;
	top:45%;
	left:50%;
	margin-left: -91.5px;
	font-size:25px;
}

.layer:hover{
	opacity:0.7;
}


.projecttext{
	background-color: #E07300;
	padding: 15px ;
	height:82px;
	font-size: 12px;
}


.projectname{

 font-size: 150%;
color:white;

}

.tag {
font-size: 110%;	
}

/*ABOUT PAGE*/
	
/*.aboutbox{
position:absolute;
top:800px;
left:0;
width:100%;
height:500px;
background-color: #E07300;
color:white;
transition: .4s top ease-in-out;
}

body.z > .aboutbox{
	top:150px;
}

.aboutinfo ul{
	list-style: none;
}

.aboutme{
position:relative;
width:960px;
height:450px;
margin:0 auto 0 auto;
padding: 5px 5px;

}

.me{
	position:absolute;
	left:-130px;
	top:100px;
	font-size: 100px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	font-family: 'Grind Zero'
}


#aboutme h1 {
	font-family: 'Grind Zero';
	font-size:36px;
}

.abouttitle{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size:50px;
	font-family: 'Grind Zero';
}

.bio-text{
	width:70%;
	font-size: 20px;
	margin:40px  auto;
}


.left{
	float: left;
	width:70%;
	font-size:20px;
	padding:0 0 0 125px;
}

.right{
width:30%;
padding:0px 15px ;
font-size:20px;
float:right;
}

.right span{
	font-weight: bold;
	color:black;
}

.contactform{
	position:absolute;
	top:700px;
	width:100%;
	height:500px;
	background-color:white;
	transition:0.2s top cubic-bezier(.3, .73, .3, .74);
	border-top: 4px orange solid;
	text-align: center;
}

.links{

}*/

/*PROJECT PAGE*/

.proj-left img {
	margin-bottom: 20px;
}
.proj-right h4{
	font-style: italic;
}

.proj-left {	
float: left;
width:60%;
font-size:20px;
}

.proj-right{
position: fixed;
overflow:hidden;
top:170px;
right:160px;
width:30%;
padding:0px 15px ;
float:right;
}

.proj-right a {
	line-height: .2;
padding:10px 10px 20px 10px;	
color: white;
background-color: #ff9626;	
}



@media screen and (max-width: 768px) {
	ul{
		margin:0 0 0 0;
	}
   .left {
   		width:100%;
   		float:none;
   }
   .right {
   		width:100%;
   		float:none;
   }
   .bio-text{
		
		width:60%;
	}
	.education{
		float:right;
		width:40%;
	}
	.interests{
		display:none;
	}
	.design{
		float:left;
		width:60%;
	}
	.dev{
		float:right;
		width:40%;
	}
}

@media screen and (max-width: 1500px) {
   .row {
   		max-width:960px;
   }
}


}

